@import url('https://fonts.googleapis.com/css?family=New+Rocker');
@import url('https://fonts.googleapis.com/css?family=Lato');
body{

    margin: 2rem;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    background: rgb(213, 206, 198);

}

header{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;


}
h1{

    background: rgb(0, 0, 0);
    text-align: center;
    font-family: 'New Rocker', cursive;;
    padding: 1rem;
    margin: 0;


}
nav{
    border: 2px solid rgb(0, 0, 0);
    background: rgb(137, 93, 59);



}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
 li{
     list-style: none;



}
 li:nth-of-type(2){
     border: none;
     background: none;
     padding: 0;
    box-shadow: none;
 }


nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 3%;
    background: rgb(0, 0, 0);
    padding: 0.5em;
    font-size: 1.5em;
    box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.6);
}

nav img{
    width: 3.5rem;
    border-radius: 50%;
    box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.6)
}

.history-text{
    display: flex;
    justify-content: space-between;
}

h2{
    text-align: center;
    letter-spacing: 3px;
    color: rgb(137, 93, 59);
    font-size: 2em;
}
.created,.musicians, .history{
    padding: 0.8em;
    width: 30%;
    border: 1px solid rgb(0, 0, 0);

}
.created, .musicians{
    width: 20%;
}

.history{
    width: 50%;
}
h3{
    letter-spacing: 1px;
    color: rgb(137, 93, 59);
}
p{
    line-height: 1.5em;
}

footer{
    background: rgb(43, 43, 43);
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.icons-footer a{
    text-align: center;
}
.icons-footer a i{
    font-size: 1.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8%;
    padding: 0.2em;
    margin: 0.2em;
    background: rgb(137, 93, 59);
    color: rgb(0, 0, 0);
    width: 1em;
}
.author-site{
    font-style: italic;
    font-size: 1.1em;
}

@media only screen and (max-width: 480px) {

    body{
        font-size: 1rem;
        margin: 0;
    }

    header, nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }


    h1{
        font-size: 1.4rem;
        width: 100%;
    }
    h2{
        font-size: 1rem;
    }

    .history-text{
        display: flex;
        flex-direction: column;
    }
    .created, .history, .musicians{
        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }
    nav ul li{
        margin: 0.5em 0 0.5em 0;
        font-size: 0.5em;
    }
    nav ul li:nth-child(2){
        display: none;

    }
    nav ul li a{
        width: 6rem;
    }

}






